{% set page = 'grants' %}
{% set switcher = 0 %}

{% extends 'wrapper.twig' %}

{% block body %}

    <section class="section section-banner section-banner--grants" >
        <div class="container">
            <p class="section-banner__text">
                <picture>
                    <source srcset="img/angle-1-lg.png" media="(min-width: 1200px)">
                    <img src="img/angle-1-sm.png" alt="angle" class="angle">
                </picture>

                Профессиональная помощь <br>
                в получении грантов и субсидий

            </p>

            <picture>
                <source srcset="img/banner-invest-icon-lg.png" media="(min-width: 1200px)">
                <img src="img/banner-invest-icon-sm.png" alt="" class="section-banner__invest-icon">
            </picture>

            <ul class="section-banner__list banner-list">
                <li class="banner-list__item">
                    <div class="banner-list__row">
                        <img src="img/angle-2-sm.png" alt="angle" class="angle">
                        <span class="banner-list__more"> > </span>
                        <span class="banner-list__num"> 1 </span>
                        <span class="banner-list__desc"></span>
                    </div>
                    <p class="banner-list__text">
                        Набор лучших предложений <br>
                        на рынке
                    </p>
                </li>
                <li class="banner-list__item">
                    <div class="banner-list__row">
                        <img src="img/angle-2-sm.png" alt="angle" class="angle">
                        <span class="banner-list__more"> > </span>
                        <span class="banner-list__num"> 2 </span>
                        <span class="banner-list__desc"></span>
                    </div>
                    <p class="banner-list__text">
                        работа в короткие сроки и <br>
                        на результат
                    </p>
                </li>
                <li class="banner-list__item">
                    <div class="banner-list__row">
                        <img src="img/angle-2-sm.png" alt="angle" class="angle">
                        <span class="banner-list__more"> > </span>
                        <span class="banner-list__num"> 3 </span>
                        <span class="banner-list__desc"></span>
                    </div>
                    <p class="banner-list__text">
                        Знаем как добиться<br>
                        поддержки бизнеса от<br>
                        государства
                    </p>
                </li>

            </ul>
        </div>
    </section>

    <section class="section section-comegrants" id="block1">
        <div class="container">
            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title">
                        <img src="img/angle-3-sm.png" alt="" class="angle">
                        Привлечение грантов и субсидий <span class="br--desctop"></span>
                        на государственную поддержку <span class="br--desctop"></span>
                        компаний по разработке <span class="br--desctop"></span>
                        продуктов, сервисов и <span class="br--desctop"></span>
                        платформенных решениий на <span class="br--desctop"></span>
                        базе «сквозных» цифровых <span class="br--desctop"></span>
                        технологий:

                    </h2>
                </div>
                <div class="section__col">
                    <p class="section__text">
                        — Разработка GR-программы карты проекта, "карты
                        возможностей" получения субсидий и грантов в
                        соответствие с отраслью и параметрами проекта;



                    </p>

                    <p class="section__text">
                        — Помощь в подготовке пакета документов и<span class="br--desctop"></span>
                        курирование конкурсного процесса.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-steps" id="block2" >
        <div class="container">
            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title">
                        <img src="img/angle-3-sm.png" alt="" class="angle">
                        Этапы работы по грантам

                    </h2>
                </div>

            </div>

            <div class="grand-step">
                <div class="grand-step__item">
                    <h4 class="grand-step__title">
                        Экспертиза проектов <span class="br--desctop"></span>&nbsp;
                    </h4>
                    <ul class="grand-step__list">
                        <li class="grand-step__list-item">
                            Организация технологической <span class="br--desctop"></span>
                            экспертизы;</li>
                        <li class="grand-step__list-item">Рыночная экспертиза;</li>
                        <li class="grand-step__list-item">Рекомендации по «усилению» проекта;</li>
                        <li class="grand-step__list-item">
                            «Дорожная карта» на год привлечения <span class="br--desctop"></span>
                            инвестиций, участия в мерах <span class="br--desctop"></span>
                            государственной поддержки и программах <span class="br--desctop"></span>
                            институтов развития.</li>

                    </ul>
                </div>
                <div class="grand-step__item">
                    <h4 class="grand-step__title">
                        Упаковка и продвижение <span class="br--desctop"></span>
                        проектов
                    </h4>
                    <ul class="grand-step__list">
                        <li class="grand-step__list-item">
                            Разработка презентации проекта 	в <span class="br--desctop"></span>
                            соответствии с отраслевым потенциалом, <span class="br--desctop"></span>
                            масштабом идеи проекта и спецификой адресата
                            документа;</li>
                        <li class="grand-step__list-item">
                            Формирование пакета документов, <span class="br--desctop"></span>
                            подтверждающего значимость и актуальность <span class="br--desctop"></span>
                            проекта;</li>
                        <li class="grand-step__list-item">
                            Бизнес-планирование и финансовое <span class="br--desctop"></span>
                            моделирование;</li>
                        <li class="grand-step__list-item">
                            Получение «писем поддержки» и «договоров <span class="br--desctop"></span>
                            намерения о сбыте» от профильных и <span class="br--desctop"></span>
                            курирующих учреждений.</li>
                    </ul>
                </div>
                <div class="grand-step__item">
                    <h4 class="grand-step__title">
                        Взаимодействие с <span class="br--desctop"></span>
                        органами федеральной, <span class="br--desctop"></span>
                        региональной власти и <span class="br--desctop"></span>
                        институтами развития
                    </h4>
                    <ul class="grand-step__list">
                        <li class="grand-step__list-item">
                            Разработка программ и курирование <span class="br--desctop"></span>
                            взаимодействия с профильными <span class="br--desctop"></span>
                            сообществами, лидерами мнений, лицами, <span class="br--desctop"></span>
                            принимающими решение;</li>
                        <li class="grand-step__list-item">
                            Подготовка и проведение презентации <span class="br--desctop"></span>
                            проекта для региональных властей;</li>
                        <li class="grand-step__list-item">
                            Разработка «карт возможностей» с учетом <span class="br--desctop"></span>
                            региона размещения проекта.</li>
                    </ul>
                </div>
                <div class="grand-step__item">
                    <h4 class="grand-step__title">
                        Сопровождение <span class="br--desctop"></span>
                        проектов <span class="br--desctop"></span>&nbsp;
                        <span class="br--desctop"></span>&nbsp;
                    </h4>
                    <ul class="grand-step__list">
                        <li class="grand-step__list-item">
                            Сопровождение проектов после <span class="br--desctop"></span>
                            получения субсидий;</li>
                        <li class="grand-step__list-item">
                            Помощь в составлении регулярной <span class="br--desctop"></span>
                            отчетности;</li>
                        <li class="grand-step__list-item">
                            Консультации по текущим изменениям в <span class="br--desctop"></span>
                            политике субсидирования.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-technologies" id="block3">
        <div class="container">
            <h2 class="section__title">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                Сквозные <br>
                технологии
            </h2>

            <ul class="projects technologies">

                <li class="projects__item projects__item--plus-1">
                    <img src="img/tech1.svg" alt="" class="projects__img">
                    <p class="technologies__text">
                        Нейротехнологии <span class="br--desctop"></span>
                        и искусственный <span class="br--desctop"></span>
                        интеллект
                    </p>
                </li>
                <li class="projects__item projects__item--plus-2">
                    <img src="img/tech2.svg" alt="" class="projects__img">
                    <p class="technologies__text">
                        Cистемы <span class="br--desctop"></span>
                        распределенного <span class="br--desctop"></span>
                        реестра
                    </p>
                </li>
                <li class="projects__item projects__item--plus-1">
                    <img src="img/tech3.svg" alt="" class="projects__img">
                    <p class="technologies__text">
                        Квантовые <span class="br--desctop"></span>
                        технологии <span class="br--desctop"></span>
                        &nbsp;
                    </p>
                </li>
                <li class="projects__item projects__item--plus-2">
                    <img src="img/tech4.svg" alt="" class="projects__img">
                    <p class="technologies__text">
                        Новые <span class="br--desctop"></span>
                        производственные <span class="br--desctop"></span>
                        технологии<span class="br--desctop"></span>
                        &nbsp;
                    </p>
                </li>
                <li class="projects__item projects__item--plus-1">
                    <img src="img/tech5.svg" alt="" class="projects__img">
                    <p class="technologies__text">
                        Компоненты <span class="br--desctop"></span>
                        робототехники и <span class="br--desctop"></span>
                        сенсорика<span class="br--desctop"></span>
                        &nbsp;
                    </p>
                </li>
                <li class="projects__item projects__item--plus-2">
                    <img src="img/tech6.svg" alt="" class="projects__img">
                    <p class="technologies__text">
                        Технологии <span class="br--desctop"></span>
                        беспроводной <span class="br--desctop"></span>
                        связи<span class="br--desctop"></span>
                        &nbsp;
                    </p>
                </li>
                <li class="projects__item ">
                    <img src="img/tech7.svg" alt="" class="projects__img">
                    <p class="technologies__text">
                        Технологии <span class="br--desctop"></span>
                        виртуальной и <span class="br--desctop"></span>
                        дополненной <span class="br--desctop"></span>
                        реальностей
                    </p>
                </li>

            </ul>
        </div>
    </section>

    <section class="section section-support" id="block4">
        <div class="container">
            <h2 class="section__title">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                Источники мер государственной поддержки
            </h2>

            <ul class="support-list">
                <li class="support-list__item">
                    <a href="https://vebinnovation.ru/page2245238.html" target="_blank">
                        <img src="img/support1.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="https://corpmsp.ru/" target="_blank">
                        <img src="img/support2.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="https://www.minobrnauki.gov.ru/" target="_blank">
                        <img src="img/support3.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="http://minpromtorg.gov.ru/" target="_blank">
                        <img src="img/support4.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="https://www.exportcenter.ru/" target="_blank">
                        <img src="img/support5.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="https://technomoscow.ru/about" target="_blank">
                        <img src="img/support6.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="http://mcx.ru/" target="_blank">
                        <img src="img/support7.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="https://xn--h1apajh.xn--p1ai/general" target="_blank">
                        <img src="img/support8.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="http://www.rsci.ru/grants/fonds/109.php" target="_blank">
                        <img src="img/support9.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="http://sk.ru/foundation/about/" target="_blank">
                        <img src="img/support10.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="https://nti2035.ru/" target="_blank">
                        <img src="img/support11.png" alt="" class="support-list__img">
                    </a>
                </li>
                <li class="support-list__item">
                    <a href="https://frprf.ru/" target="_blank">
                        <img src="img/support12.png" alt="" class="support-list__img">
                    </a>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}
