{% set page = 'index' %}
{% set switcher = 1 %}

{% extends 'wrapper.twig' %}

{% block body %}


    <section class="section section-banner section-banner--index">
        <div class="container">
            <p class="section-banner__text">
                <picture>
                    <source srcset="img/angle-1-lg.png" media="(min-width: 1200px)">
                    <img src="img/angle-1-sm.png" alt="angle" class="angle">
                </picture>
                {{ data.sectionBannerIndex.title }}
            </p>

            <img src="img/banner-invest-icon-lg.png" alt="" class="section-banner__icon-lg">

            <ul class="section-banner__list banner-list">
                {% for list in data.sectionBannerIndex.list %}
                    <li class="banner-list__item">
                        <div class="banner-list__row">
                            <img src="img/angle-2-sm.png" alt="angle" class="angle">
                            <span class="banner-list__more"> > </span>
                            <span class="banner-list__num"> {{ list.num }} </span>
                            <span class="banner-list__desc"> {{ list.desc }} </span>
                        </div>
                        <p class="banner-list__text">
                            {{ list.text }}
                        </p>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-venture">
        <div class="container">
            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title">
                        <img src="img/angle-3-sm.png" alt="" class="angle">

                        <picture>
                            <source srcset="img/pony-lg.png" media="(min-width: 1200px)">
                            <img src="img/pony-sm.png" alt="" class="section-venture__pony-img">
                        </picture>
                        {{ data.sectionVenture.title }}
                    </h2>
                </div>

                <div class="section__col">
                    <p class="section__text">
                        {{ data.sectionVenture.text_1 }}
                    </p>

                    <p class="section__text">
                        {{ data.sectionVenture.text_2 }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-advantages">
        <div class="container">
            <h2 class="section__title">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                02.<br>
                {{ data.sectionAdvantages.title }}
            </h2>

            <ul class="advantages">

                {% for list in data.sectionAdvantages.list %}
                    <li class="advantages__item">
                        <picture>
                            <source srcset="img/{{ list.img }}-lg.png" media="(min-width: 1200px)">
                            <img src="img/{{ list.img }}-sm.png" alt="" class="advantages__img">
                        </picture>
                        <h4 class="advantages__title">
                            {{ list.title }}
                        </h4>

                        <p class="advantages__text">
                            {{ list.text }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="section section-projects" >
        <div class="container">
            <h2 class="section__title" id="portfolio">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                03.<br>
                {{ data.sectionProjects.title }}
            </h2>

            <ul class="projects">

                {% for list in data.sectionProjects.list %}
                    <li class="projects__item projects__item--plus-{{ loop.index % 2 == 0 ? '2' : '1' }}">
                        <img src="img/{{ list.img }}-sm.png" alt="" class="projects__img">
                        <p class="projects__text">
                            {{ list.text }}<br>
                            <a href="{{ list.link }}" target="_blank">{{ data.btn.more }}</a>
                        </p>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-investors">
        <div class="container">
            <h2 class="section__title">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                04.<br>
                {{ data.sectionInvest.title }}
            </h2>

            <picture>
                <source srcset="img/invest-lg.jpg" media="(min-width: 1200px)">
                <img src="img/invest-sm.jpg" alt="" class="section-investors__img">
            </picture>
            <p class="section__text">
                {{ data.sectionInvest.text }}
            </p>

            <a href="invest.html" class="section-investors__link">{{ data.sectionInvest.more }}</a>
        </div>
    </section>

    <section class="section section-startups">
        <div class="container">
            <h2 class="section__title">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                05.<br>
                {{ data.sectionStartups.title }}
            </h2>

            <picture>
                <source srcset="img/startup-lg.jpg" media="(min-width: 1200px)">
                <img src="img/startup-sm.jpg" alt="" class="section-startups__img">
            </picture>
            <p class="section__text">
                {{ data.sectionStartups.text }}
            </p>

            <a href="startups.html" class="section-startups__link">{{ data.sectionStartups.more }}</a>
        </div>
    </section>



{% endblock %}
