{% set page = 'invest' %}
{% set switcher = 1 %}

{% extends 'wrapper.twig' %}

{% block body %}

    <section class="section section-banner section-banner--invest">
        <div class="container">
            <p class="section-banner__text">
                <picture>
                    <source srcset="img/angle-1-lg.png" media="(min-width: 1200px)">
                    <img src="img/angle-1-sm.png" alt="angle" class="angle">
                </picture>

                {{ data.sectionBannerInvest.title }}

            </p>

            <picture>
                <source srcset="img/banner-invest-icon-lg.png" media="(min-width: 1200px)">
                <img src="img/banner-invest-icon-sm.png" alt="" class="section-banner__invest-icon">
            </picture>

            <ul class="section-banner__list banner-list">
                {% for list in data.sectionBannerInvest.list %}
                    <li class="banner-list__item">
                        <div class="banner-list__row">
                            <img src="img/angle-2-sm.png" alt="angle" class="angle">
                            <span class="banner-list__more"> > </span>
                            <span class="banner-list__num"> {{ list.num }} </span>
                            <span class="banner-list__desc"> {{ list.desc }} </span>
                        </div>
                        <p class="banner-list__text">
                            {{ list.text }}
                        </p>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-investinfo" >
        <div class="container">
            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title" id="block1">
                        <img src="img/angle-3-sm.png" alt="" class="angle">
                        {{ data.sectionInvestInfo.title }}
                    </h2>
                </div>
                <div class="section__col">
                    <p class="section__text">
                        {{ data.sectionInvestInfo.text_1 }}
                    </p>

                    <p class="section__text">
                        {{ data.sectionInvestInfo.text_2 }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-case">
        <div class="container">

            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title">

                        {{ data.sectionCase.title }}
                    </h2>
                </div>
                <div class="section__col">
                    <p class="section__text">
                        {{ data.sectionCase.text }}
                    </p>
                </div>
            </div>

            <form action="" class="form form--case ajax-form">
                <div class="form__group">
                    <input type="text" class="form__input" name="name" placeholder="{{ data.form.inputFio }}" required>
                </div>
                <div class="form__group">
                    <input type="email" class="form__input" name="email" placeholder="{{ data.form.inputEmail }}"
                           required>
                </div>
                <div class="form__group">
                    <input type="tel" class="form__input" name="phone" placeholder="{{ data.form.inputPhone}}" required>
                </div>
                <button class="btn btn--default btn--white">{{ data.btn.send }}</button>
            </form>
        </div>
    </section>

    <section class="section section-features-projects" >
        <div class="container">

            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title" id="block2">
                        <img src="img/angle-3-sm.png" alt="" class="angle">
                        03.<br>
                        {{ data.sectionFeaturesProjects.title }}
                    </h2>
                </div>
                <div class="section__col">
                    <p class="section__text">
                        {{ data.sectionFeaturesProjects.text }}
                    </p>

                    <a href="#modalList" class="btn btn--default btn--dark show-modal">
                        {{ data.sectionFeaturesProjects.link }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-how-invest" >
        <div class="container">
            <h2 class="section__title" id="block3">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                04.<br>
                {{ data.sectionHowInvest.title }}
            </h2>

            <ul class="step-list">

                {% for list in data.sectionHowInvest.list %}
                    <li class="step-list__item">
                        <p class="step-list__num">{{ list.num }}.</p>
                        <p class="step-list__text">
                            {{ list.text }}
                            {% if loop.index == 2 %}
                                <a href="#modalEmail" class="step-list__link show-modal">
                                    {{ list.link }}
                                </a>
                            {% elseif loop.index == 3 %}
                                <a href="#modalCallback" class="step-list__link show-modal">
                                    {{ list.link }}
                                </a>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}
