<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <style type="text/css">

        /* Outlines the grids, remove when sending */
        /*table td { border: 1px solid cyan; }*/

        /* CLIENT-SPECIFIC STYLES */
        body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        img { -ms-interpolation-mode: bicubic; }

        /* RESET STYLES */
        img { border: 0; outline: none; text-decoration: none; }
        table { border-collapse: collapse !important; }
        body { margin: 0 !important; padding: 0 !important; width: 100% !important; }

        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] { margin: 0 !important; }

        /* MEDIA QUERIES */
        @media all and (max-width:639px){
            .wrapper{ width:320px!important; padding: 0 !important; }
            .container{ width:300px!important;  padding: 0 !important; }
            .mobile{ width:300px!important; display:block!important; padding: 0 !important; }
            .img{ width:100% !important; height:auto !important; }
            *[class="mobileOff"] { width: 0px !important; display: none !important; }
            *[class*="mobileOn"] { display: block !important; max-height:none !important; }
        }

        body {
            background: #e6eced;
            color: #000000;
        }

        table {
            background: #fff;
        }

        @media (prefers-color-scheme: dark) {
            /* Your dark mode styles: */

            body {
                background: #e6eced;
                color: #000000;
            }
            table {
                background: #fff;
            }
        }

    </style>
</head>
<body style="margin:0; padding:0; background-color:#e6eced;font-family: 'Arial', sans-serif">

<span style="display: block; width: 640px !important; max-width: 640px; height: 1px" class="mobileOff"></span>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" valign="top">

            <table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper"  >
                <!--<tr>-->
                <!--<td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>-->
                <!--</tr>-->
                <tr>
                    <td align="center" valign="top">

                        <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
                            <tr>
                                <td height="31" style="font-size:31px; line-height:31px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding-left:88px;">
                                    <img src="https://vcsila.com/img/logo-dark.png" alt=""
                                         style="width:92px;">
                                </td>
                            </tr>
                            <tr>
                                <td height="41" style="font-size:41px; line-height:41px;">&nbsp;</td>
                            </tr>

                            <tr>
                                <td align="center" valign="top" style="font-size: 18px; font-weight: bold">
                                    Вас приветствует Группа компаний VC SILA!
                                </td>
                            </tr>
                            <tr>
                                <td height="31" style="font-size:31px; line-height:31px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top"
                                    style="font-size: 18px;padding-left: 65px;padding-right:65px;text-align:left">
                                    Уточните, пожалуйста, тему Вашего обращения, чтобы мы могли скоординировать Вас
                                    со специалистом.
                                </td>
                            </tr>
                            <tr>
                                <td height="23" style="font-size:23px; line-height:23px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    Благодарим за обращение.
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    С уважением, Команда VC Sila
                                </td>
                            </tr>

                            <tr>
                                <td height="26" style="font-size:26px; line-height:26px;">&nbsp;</td>
                            </tr>


                            <tr>
                                <td align="center" valign="top" style="font-size: 16px;line-height: 18px;height: 18px">
                                    <a href="www.vcsila.com" style="color: #567bbf;text-decoration: underline;">www.vcsila.com</a>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" valign="top" style="font-size: 16px;line-height: 18px;height: 18px">
                                    T.+7 (495) 104–39–89
                                </td>
                            </tr>

                            <tr>
                                <td align="center" valign="top"
                                    style="font-size: 16px;line-height: 18px;height: 18px;color: #567bbf;
                                    text-decoration: underline;">
                                    E. contact@vcsila.com
                                </td>
                            </tr>

                            <tr>
                                <td height="22" style="font-size:22px; line-height:22px;">&nbsp;</td>
                            </tr>

                            <tr>
                                <td align="center" valign="top" style="font-size: 14px;">
                                    Вы получили это обращение, потому
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="font-size: 14px;">
                                    что оставили запрос у нас на сайте.
                                </td>
                            </tr>
                            <tr>
                                <td height="22" style="font-size:22px; line-height:22px;">&nbsp;</td>
                            </tr>

                            <tr>
                                <td align="center" valign="top">
                                    <a href="mailto:contact@vcsila.com" style="display: block;background-color: #cf4140;text-decoration: none;height: 44px;line-height: 44px;width: 200px;color: #fff;">Ответить</a>
                                </td>
                            </tr>

                            <tr>
                                <td height="40" style="font-size:40px; line-height:40px;">&nbsp;</td>
                            </tr>


                        </table>

                    </td>
                </tr>

            </table>

        </td>
    </tr>
</table>
</body>
</html>
