{% set page = 'startups' %}
{% set switcher = 1 %}

{% extends 'wrapper.twig' %}

{% block body %}

    <section class="section section-banner section-banner--startups">
        <div class="container">
            <p class="section-banner__text">
                <picture>
                    <source srcset="img/angle-1-lg.png" media="(min-width: 1200px)">
                    <img src="img/angle-1-sm.png" alt="angle" class="angle">
                </picture>

                <span class="banner-slider">

                    {% for item in data.sectionBannerStartups.title %}
                        <span class="banner-slider__slide {% if loop.index == 1 %}banner-slider__slide--active{% endif %} slide-{{ loop.index }}">
                            {{ item.title }}
                        </span>
                    {% endfor %}
                </span>

            </p>

            <a href="#megaforma" class="btn btn--default btn--white show-modal">{{ data.btn.subnmitApp }}</a>

            <img src="img/banner-invest-icon-lg.png" alt="" class="section-banner__icon-lg">


            <ul class="section-banner__list banner-list">
                {% for list in data.sectionBannerStartups.list %}
                    <li class="banner-list__item">
                        <div class="banner-list__row">
                            <img src="img/angle-2-sm.png" alt="angle" class="angle">
                            <span class="banner-list__more"> > </span>
                            <span class="banner-list__num"> {{ list.num }} </span>
                            <span class="banner-list__desc"> {{ list.desc }} </span>
                        </div>
                        <p class="banner-list__text">
                            {{ list.text }}
                        </p>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-accelerator" >
        <div class="container">
            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title" id="block1">
                        <img src="img/angle-3-sm.png" alt="" class="angle">
                        {{ data.sectionAccelerator.title }}
                    </h2>
                </div>
                <div class="section__col">
                    <p class="section__text">
                        {{ data.sectionAccelerator.text }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-projects" >
        <div class="container">
            <h2 class="section__title" id="block2">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                02.<br>
                {{ data.sectionProjects.title }}
            </h2>

            <ul class="projects">
                {% for list in data.sectionProjects.list %}
                    <li class="projects__item projects__item--plus-{{ loop.index % 2 == 0 ? '2' : '1' }}">
                        <img src="img/{{ list.img }}-sm.png" alt="" class="projects__img">
                        <p class="projects__text">
                            {{ list.text }}<br>
                            <a href="{{ list.link }}" target="_blank">{{ data.btn.more }}</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="section section-wyg">
        <div class="container">
            <h2 class="section__title">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                03.<br>
                {{ data.sectionWyg.title }}
            </h2>

            <ul class="wyg">

                {% for list in data.sectionWyg.list %}
                    <li class="wyg__item">
                        <picture>
                            <source srcset="img/{{ list.img }}-lg.png" media="(min-width:1200px)">
                            <img src="img/{{ list.img }}-sm.png" alt="" class="wyg__img">
                        </picture>
                        <h4 class="wyg__title">
                            {{ list.title }}
                        </h4>
                        <p class="wyg__text">
                            {{ list.text }}
                        </p>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-program" >
        <div class="container">
            <h2 class="section__title" id="block3">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                04.<br>
                {{ data.sectionProgram.title }}
            </h2>

            <a href="#megaforma" class="btn btn--default btn--dark show-modal">{{ data.btn.subnmitApp }}</a>

            <ul class="program">

                {% for list in data.sectionProgram.list %}
                    <li class="program__item">
                        <p class="program__num">{{ list.num }}.</p>
                        <h4 class="program__title">{{ list.title }}</h4>
                        <p class="program__text">
                            {{ list.text }}
                            {% if loop.index in [3,4] %}
                                <a href="#t-block{{ loop.index }}" class="toggler">{{ data.btn.more }}</a>
                            {% endif %}
                        </p>

                        {% if loop.index in [3,4] %}
                            <span class="toggle-block" id="t-block{{ loop.index }}">
                        <ul>
                            {% for more in list.more %}
                                <li>{{ more.text }}</li>
                            {% endfor %}

                        </ul>

                        <a href="#t-block{{ loop.index }}" class="toggler toggler-close">
                            <img src="img/close.png" alt="">
                        </a>
                    </span>
                        {% endif %}
                    </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    <section class="section section-action">
        <div class="container">
            <div class="section__group">
                <div class="section__col">
                    <h2 class="section__title">
                        {{ data.sectionAction.title }}
                    </h2>
                </div>
                <div class="section__col">
                    <p class="section__text">
                        {{ data.sectionAction.text }}
                    </p>

                    <a href="#megaforma" class="btn btn--default btn--white show-modal">{{ data.btn.subnmitApp }}</a>
                </div>

            </div>
        </div>
    </section>

    <section class="section section-critery" >
        <div class="container">

            <h2 class="section__title" id="block4">
                <img src="img/angle-3-sm.png" alt="" class="angle">
                06.<br>
                {{ data.sectionCritery.title }}
            </h2>
            <ul class="step-list">

                {% for list in data.sectionCritery.list  %}
                    <li class="step-list__item">
                        <p class="step-list__num">{{ list.num }}</p>
                        <p class="step-list__text">
                            {{ list.text }}
                        </p>
                        {% if loop.index == 4 %}
                            <a href="#megaforma" class="btn btn--default btn--dark show-modal">{{ data.btn.subnmitApp }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}

{% set iter = '0' %}

{% block megaforma %}
    <div class="modal modal--fullscreen" id="megaforma">
        <a href="" class="modal__close close-modal">
            <img src="img/close.png" alt="">
        </a>

        <div class="modal__container">
            <h4 class="modal__title">Подать заявку</h4>

            <form action="" class="form--dark ajax-form">

                {% for input in form %}
                    {% if input.type in ['text', 'tel', 'email'] %}
                        <div class="form__group">
                            <label for="" class="form__label">{{ input.label }}</label>
                            <input type="{{ input.type }}" name="name{{ loop.index }}" class="form__input" placeholder="{{ input.placeholder }}">
                        </div>
                    {% elseif input.type == 'textarea'%}
                        <div class="form__group">
                            <label for="" class="form__label">{{ input.label }}</label>
                            <textarea name="name{{ loop.index }}"
                                      class="form__input"
                                      placeholder="{{ input.placeholder }}"></textarea>
                        </div>
                    {% elseif input.inputs is defined%}

                        <div class="form__group">

                            <label for="" class="form__label">{{ input.label }}</label>
                            <p class="form__title--small">{{ input.placeholder }}</p>
                            <ul class="form__list">
                                {% for item in input.inputs %}
                                    <li class="form__list-item form__radio-row">
                                        <input id="checks{{ iter }}{{ loop.index }}"
                                                type="radio" name="checks{{ iter }}"
                                               class="form__radio-input">
                                        <label for="checks{{ iter }}{{ loop.index }}"
                                               class="form__radio-label">{{ item.label }}</label>

                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% set iter = iter + 1 %}
                    {% elseif input.type == 'radio' %}
                        <div class="form__radio-row">
                            <input id="checks{{ iter }}{{ loop.index }}"
                                   type="radio" name="checks{{ iter }}"
                                   class="form__radio-input">
                            <label for="checks{{ iter }}{{ loop.index }}"
                                   class="form__radio-label">{{ input.label }}</label>

                        </div>

                        {% set iter = iter + 1 %}
                    {% endif %}
                {% endfor %}

                <button class="btn btn--dark btn--default ">ОТПРАВИТЬ</button>

            </form>
        </div>
    </div>
{% endblock %}
