<!doctype html>
<html lang="{{ data.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ data.meta.title }}</title>
    <link rel="stylesheet" href="css/app.css?v=2">
</head>
<body>

    <div class="wrapper">
        <header class="header">

            <div class="container">
                <nav class="header__navabar navbar">
                    <a class="navbar__brand brand" href="index.html">
                        <picture>
                            <source srcset="img/logo-lg.png" media="(min-width: 1200px)">
                            <img src="img/logo-sm.png" alt="logotype" class="brand__img">
                        </picture>
                    </a>
                    <button class="navbar__toggler" type="button" aria-label="Toggle navigation">
                        <img src="img/menu-o.svg" alt="" class="navbar__icon navbar__icon--open">
                        <img src="img/menu-c.svg" alt="" class="navbar__icon navbar__icon--closed">
                    </button>

                    <div class="navbar__collapse" id="navbarSupportedContent">
                        <ul class="nav navbar__nav">
                            {% for nav in data.nav %}
                                <li class="nav__item nav__item--item-{{ loop.index }}">
                                    {% if page == 'index' %}
                                        {% if nav.name in ['index','contacts'] %}
                                            <a class="nav__link anchor" href="{{ nav.link }}">{{ nav.title }}</a>
                                        {% else %}
                                            <a class="nav__link" href="{{ nav.link }}">{{ nav.title }}</a>
                                        {% endif %}
                                    {% else %}
                                        {% if nav.name in ['index'] %}
                                            <a class="nav__link" href="index.html{{ nav.link }}">{{ nav.title }}</a>
                                        {% elseif nav.name in ['contacts']  %}
                                            <a class="nav__link anchor" href="{{ nav.link }}">{{ nav.title }}</a>
                                        {% else %}
                                            <a class="nav__link" href="{{ nav.link }}">{{ nav.title }}</a>
                                        {% endif %}
                                    {% endif %}

                                    {% if nav.submenu is defined %}
                                        {% set prefix = '' %}
                                        <ul>


                                            {% for submenu in nav.submenu %}

                                                {% if page != nav.name %}
                                                    {% set prefix = nav.name~'.html' %}
                                                {% endif %}
                                                <li class="nav__item nav__item--item-{{ loop.index }}">
                                                    <a class="nav__link {% if page == nav.name %}anchor{% endif %}"
                                                       href="{{ prefix }}{{ submenu.link }}">{{ submenu.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if switcher == 1 %}
                        <ul class="switcher">
                            <li class="switcher__item">
                                <a class="switcher__link {% if data.lang == 'en'%}switcher__link--current{% endif %}" href="/en">en</a>
                            </li>
                            <li class="switcher__item">
                                <a class="switcher__link {% if data.lang == 'ru'%}switcher__link--current{% endif %}" href="/">ru</a>
                            </li>
                        </ul>
                    {% endif %}
                </nav>
            </div>

        </header>
        {% block body %}{% endblock %}
        <footer class="section footer" id="contacts">
            <div class="container">
                <p class="footer__text footer__text--order-2">
                    <a href="mailto:{{ data.sectionContacts.email }}">{{ data.sectionContacts.email }}</a><br>
                    <a href="tel:{{ data.sectionContacts.phone }}">{{ data.sectionContacts.phone }}</a>
                </p>
                <p class="footer__text footer__text--order-1">
                   {{ data.sectionContacts.address }}
                </p>
                <a href="index.html">
                    <picture>
                        <source srcset="img/logo-lg.png" media="(min-width: 1200px)">
                        <img src="img/logo-sm.png" alt="" class="footer__logo">
                    </picture>
                </a>
            </div>
        </footer>
    </div>

    <div class="modal-overlay">
        <div class="modal" id="modalCallback">
            <a href="" class="modal__close close-modal">
                <img src="img/close.png" alt="">
            </a>

            <h4 class="modal__title">{{ data.form.titleCallback }}</h4>

            <form action="" class="form--dark form--row ajax-form">
                <div class="form__group form__group--half">
                    <input type="text" name="name" class="form__input" placeholder="{{ data.form.inputName }}" required>
                </div>
                <div class="form__group form__group--half">
                    <input type="tel" name="phone" class="form__input" placeholder="{{ data.form.inputPhone }}" required>
                </div>
                <button class="btn btn--default btn--dark">{{ data.btn.send }}</button>
            </form>
        </div>

        <div class="modal " id="modalList">
            <a href="" class="modal__close close-modal">
                <img src="img/close.png" alt="">
            </a>

            <h4 class="modal__title">{{ data.form.titleList }}</h4>

            <form action="" class="form--dark form--row ajax-form">
                <div class="form__group">
                    <input type="email" name="email" class="form__input" placeholder="{{ data.form.inputEmail }}" required>
                </div>
                <button class="btn btn--default btn--dark">{{ data.btn.send }}</button>
            </form>
        </div>

        <div class="modal" id="modalEmail">
            <a href="" class="modal__close close-modal">
                <img src="img/close.png" alt="">
            </a>

            <h4 class="modal__title">{{ data.form.titleSubscribe }}</h4>

            <form action="" class="form--dark form--row ajax-form">
                <div class="form__group">
                    <input type="email" name="email" class="form__input" placeholder="{{ data.form.inputEmail}}" required>
                </div>
                <button class="btn btn--default btn--dark">{{ data.btn.send }}</button>
            </form>
        </div>
        <div class="modal" id="modalBrif">
            <a href="" class="modal__close close-modal">
                <img src="img/close.png" alt="">
            </a>

            {% if data.lang == 'ru' %}
                <h4 class="modal__title">Заполните форму</h4>
            {% endif %}

            <form action="" class="form--dark form--row ajax-form">
                <div class="form__group">
                    <input type="email" name="email" class="form__input" placeholder="{{ data.form.inputEmail }}" required>
                </div>
                <button class="btn btn--default btn--dark">{{ data.btn.setBrif }}</button>
            </form>
        </div>

        {% block megaforma %}{% endblock %}
    </div>
    <script src="js/app.js?v=1"></script>
</body>
</html>
