.advantages {
  padding-left: 21px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 6px;
  padding-bottom: 1px;
  position: relative;
  z-index: 1;

  @media(min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media(min-width: 1200px) {
    margin-top: -164px;
  }
}

.advantages__item {
  margin-bottom: 35px;
  position: relative;

  @media(min-width: 768px) {
    flex: 0 0 50%;
    padding-top: 106px;
    display: flex;
    flex-direction: column;
    margin-bottom: 53px;
    padding-left: 0px;

  }

  @media(min-width: 1200px) {
    flex:  0 1 390px;
    padding-left: 8px;
  }

  &:first-child {
    @media(min-width: 1200px) {
      margin-left: 390px;
    }
  }
}

.advantages__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #000;
  padding-bottom: 18px;
  margin-bottom: 17px;
  padding-left: 83px;
  height: 94px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 0;

  @media(min-width: 768px) {
    height: auto;
    order: 3;
    padding-left: 0;
    border-bottom: 0;
    border-top: 1px solid #000;
    margin-top: auto;
    max-width: 286px;
    font-size: 24px;
    padding-top: 17px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  span {
    line-height: 1.5;
    position: relative;
    bottom: -6px;
  }
}

.advantages__img {
  margin-right: 13px;
  position: absolute;
  left: 0;
  top: 0;

  @media(min-width: 768px) {
    margin-right: 0;
    left: 8px;
  }
}

.advantages__text {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0;
  @media(min-width: 768px) {
    font-size: 18px;
    order: 2;
    line-height: 1.6;
    margin-bottom: 25px;
  }
}
