.banner-list {
  padding-left: 23px;
  list-style: none;
  margin-bottom: 0;
  color: #fff;
  font-weight: 100;

  @media(min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


  @media(min-width: 1200px) {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0;
    justify-content: center;
  }
}

.banner-list__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.banner-list__item {
  position: relative;
  padding-left: 30px;
  padding-top: 18px;
  margin-bottom: 49px;
  margin-right: -7px;
  @media(min-width: 768px) {
    flex: 0 0 50%;
  }
  @media(min-width: 1200px) {
    flex: 0 1 294px;
  }
  .angle {
    position: absolute;
    top: 0;
    left: 0;

    @media(min-width: 1200px) {
      left: 6px;
      top: 6px;
    }
  }
}

.banner-list__num{
  font-size: 48px;
  margin-left: 23px;
  @media(min-width: 1200px) {
    font-size: 72px;
    margin-left: 26px;
  }
}

.banner-list__desc{
  font-size: 16px;
  margin-left: 15px;
  position: relative;
  top: 5px;
  @media(min-width: 1200px) {
    font-size: 18px;
    top: 14px;
  }
}

.banner-list__more{
  font-size: 24px;
  position: relative;
  top: 1px;
  @media(min-width: 1200px) {
    font-size: 24px;
    top: 7px;
  }
}

.banner-list__text {
  width: 100%;
  border-top: 1px solid #fff;
  margin: 11px 0 0 -30px;
  font-size: 18px;
  padding: 11px 0 0 14px;
  letter-spacing: 0.7px;
  line-height: 1.35;
  @media(min-width: 1200px) {
    margin-top: 5px;
    margin-left: -24px;
    padding-left: 66px;
  }

}
