.btn {

  border-radius: 40px;
  line-height: 1;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  &--default {
    font-size: 19.4px;
    width: 100%;
    padding: 13px 10px;
    letter-spacing: 2px;
  }

  &--dark {
    background: #000;
    color: #fff;
  }

  &--white {
    background: #fff;
    color: #000;
  }
}
