.footer {
  background: #000;
  color: #ffffff;
  font-size: 16px;
  padding-top: 79px;
  padding-bottom: 77px;

  @media(min-width: 768px) {
    padding-top: 28px;
    padding-bottom: 23px;
  }

  .container {
    @media(min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.footer__text {
  position: relative;
  left: 21px;
  margin: 0 0 10px;
  line-height: 1.55;
  letter-spacing: .5px;

  a {
    color: #fff;
  }

  @media(min-width: 768px) {
    font-size: 18px;
    line-height: 1.7;
    padding-top: 10px;
  }

  &--order-1 {
    @media(min-width: 768px) {
      order: 2;
      left: 0;
      padding-left: 10px;
    }
  }
  &--order-2 {
    @media(min-width: 768px) {
      order: 3;
      left: 0;
      padding-right: 22px;
    }
  }
}

.footer__logo {
  position: relative;
  left: 21px;
  margin-top: 31px;

  @media(min-width: 768px) {
    order: 1;
    left: 0;
    margin-top: 0;
  }
}
