.form {
  position: relative;
  &--case {
    color: #fff;
    padding-left: 21px;
    padding-top: 6px;

    @media(min-width: 1200px) {
      padding-left: 7px;
      padding-top: 52px;
      font-size: 18px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

    }

    .form__group {
      @media(min-width: 1200px) {
        flex: 0 0 265px;
        margin-right: 28px;
      }
    }

    .btn--default {
      margin-top: 10px;
      max-width: 231px;

      @media(min-width: 1200px) {
        margin-top: -14px;
        max-width: 265px;
      }

    }
  }

  &--dark {
    .form__input {
      border-color: #000;
      color: #000;
      &::placeholder {
        color: #000;
      }
    }
  }

  &--row {
    display: flex;
    flex-direction: column;

    @media(min-width: 1200px) {
      flex-direction: row;
      align-items: flex-end;
    }
    .form__group {
      margin-right: 0;



      @media(min-width: 1200px) {
        flex: 0 0 555px;
        margin-bottom: 0;
      }

      &--half {
        @media(min-width: 1200px) {
          flex: 0 0 265px;
          margin-right: 30px;
        }

      }
    }

    .btn--default {
      max-width: 265px;
      margin-left:auto;
    }
  }
}

.form__input {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  &::placeholder {
    color: #fff;
  }
}

.form__group {
  margin-bottom: 39px;
}

.form__label {
  @media(min-width: 1200px) {
    font-size: 24px;
  }
}

.form__title {
  &--small {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 8px;
  }
}

.form__radio-label {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  padding-left: 32px;
  &:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:after {
    content: '';
    display: none;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

.form__radio-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.form__radio-input {
  display: none;
  &:checked {
    &~.form__radio-label {
      &:after {
        display: block;
      }
    }
  }
}

.form__list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
