.header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 12px;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  padding-bottom: 9px;

  @media(min-width: 1200px) {
    padding-top: 19px;
    padding-bottom: 17px;
  }

  .navbar__icon--closed {
    display: none;
  }

  &--menu-open {

    background: #000;
    .navbar__icon--closed {
      display: block;
    }
    .navbar__icon--open {
      display: none;
    }
  }
}

