*,*:before,*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Exo 2.0', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

a {
  color: #37a8b0;
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.br {
  &--mobile {
    display: block;
    @media(min-width: 768px) {
      display: none;
    }
  }
  &--desctop {
    display: none;
    @media(min-width: 768px) {
      display: block;
    }
  }
}

.toggle-block {
  display: none;

  &--open {
    display: block;
  }

  ul {
    font-size: 10px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    line-height: 2;

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        width: 8px;
        height: 8px;
        background: #000;
        border-radius: 50%;
      }
    }
  }
}
