.modal {
  width: 100%;
  background: #fff;
  position: relative;
  display: none;
  padding: 40px 35px 50px;
  margin: 0 15px;
  @media(min-width: 1200px) {
    max-width: 1140px;
    padding: 100px 97px 142px;
    margin: 32px auto auto;
  }

  &--fullscreen {
    @media(min-width: 1200px) {
      max-width: 100%;
      margin: 0;
      height: auto;

    }

    .modal__title {
      @media(min-width: 1200px) {
        margin-bottom: 40px;
      }
    }

    .form__input {
      @media(min-width: 1200px) {
        font-size: 18px;
      }
    }

    .btn--default {
      max-width: 320px;
    }
  }

  &--open {
    display: block;
  }
}

.modal__close {
  position: absolute;
  right: 30px;
  top: 30px;
}

.modal__title {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 65px;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
  overflow: auto;

  &--open {
    display: flex;
    align-items: flex-start;
  }
}

.modal__container {
  @media(min-width: 1200px) {
    max-width: 945px;
    margin: 0 auto;
  }
}


