.navbar__collapse {
  display: none;
  order: 3;
  width: 100%;
  @media(min-width: 1200px) {
    width: auto;
    display: block;
    margin-left: auto;
    order: 2;
  }


  &--open {
    display: block;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.navbar__nav {
  margin-top: 81px;
  line-height: 1;
  @media(min-width: 1200px) {
    margin-top: 0;

  }

  @media(min-width: 1200px) {
    margin-right: 20px;
  }
}

.navbar__toggler {
  border: none;
  background: transparent;
  padding: 0;
  margin-top: 7px;
  order: 2;
  margin-left: auto;

  @media(min-width: 1200px) {
    display: none;
  }
}

.navbar__icon {
  position: relative;
}

.navbar__icon--closed {
  right: 4px;
}

.navbar__brand {
  margin-right: auto;
}
