.nav {
  font-size: 24px;
  padding-left: 0;
  margin-bottom: 0;
  @media(min-width: 1200px) {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    list-style: none;
  }
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 300;

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 6px;

    @media(min-width: 1200px) {
      display: none;
    }
  }

  &--active, &:hover, &:focus {

    color: #37a8b0;
    &:before {
      background: #37a8b0;
      border-color: #37a8b0;
    }
  }

}

.nav__item {
  padding-left: 38px;
  letter-spacing: 1.1px;
  margin-bottom: 69px;
  position: relative;

  &:hover {
    ul {
      display: block;
    }
  }

  //@media(min-width: 768px) {
  //  margin-bottom: 0;
  //  padding-left: 30px;
  //  font-size: 14px;
  //}

  @media(min-width: 1200px) {
    padding-left: 45px;
    font-size: 16px;
    margin-bottom: 0;
  }

  .nav__item {
    padding-left: 0;
    margin-bottom: 39px;

    @media(min-width: 1200px) {
      margin-bottom: 23px;
    }

  }

  ul {
    padding-left: 16px;
    margin-top: 36px;
    @media(min-width: 1200px) {
      display: none;
      position: absolute;
      left: 30px;
      list-style: none;
      padding-left: 0;
      margin-top: 0px;
      padding-top: 23px;
      top: 100%;
      width: 200px;
    }

    @media(min-width: 1200px) {
      left: 45px;
    }

    &:hover {
      display: block;
    }


    .nav__link {
      @media(min-width: 1200px) {
        white-space: nowrap;
      }

      &:before {
        display: none;
      }


    }
  }
}
