.projects {
  padding-left: 21px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 3px;

  @media(min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    margin-top: 70px;
  }
  @media(min-width: 1200px) {
    position: relative;
    z-index: 1;
    margin-top: -105px;
  }
}

.projects__item {
  border: 1px solid #ebebeb;
  width: 268px;
  height: 268px;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:first-child {
    @media(min-width: 1200px) {
      margin-left: 300px;
    }

    &:before {
      @media(min-width: 1200px) {
        left: -22px;
        top: -23px;
      }
    }
  }
  &:nth-child(2) {
    &:before {
      @media(min-width: 1200px) {
        display: none;
      }
    }
  }
  &:nth-child(3) {
    &:before {
      @media(min-width: 1200px) {
        left: -22px;
        top: -23px;
        background: url("../img/plus2-sm.png") no-repeat 50% 50% / cover;
      }
    }
  }
  &:nth-child(4) {
    @media(min-width: 1200px) {
      margin-left: 7px;
    }
    &:before {
      @media(min-width: 1200px) {
        left: -22px;
        top: -23px;

      }
    }
  }
  &:nth-child(5) {

    &:before {
      @media(min-width: 1200px) {
        left:initial;
        right: -22px;
        top: -23px;

      }
    }
  }

  &:nth-child(6) {

    &:before {
      @media(min-width: 1200px) {
        left:initial;
        right: -38px;
        top: initial;
        bottom: -21px;
        background: url("../img/plus1-sm.png") no-repeat 50% 50% / cover;

      }
    }
  }

  &:nth-child(8) {
    @media(min-width: 1200px) {
      margin-left: 7px;
    }
  }

  @media(min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media(min-width: 1200px) {
    margin-left: 30px;
    margin-right: initial;
    margin-bottom: 30px;
    width: 263px;
    height: 263px;
  }

  &--plus-1 {
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: -24px;
      top: -26px;
      background: url("../img/plus1-sm.png") no-repeat 50% 50% / cover;
    }
  }
  &--plus-2 {
    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: -24px;
      top: -26px;
      background: url("../img/plus2-sm.png") no-repeat 50% 50% / cover;
    }
  }

  &:hover, &:focus {
    .projects__text {
      opacity: 1;
    }
  }
}

.projects__img {
  z-index: 1;
}

.projects__text {
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  margin: 0;
  opacity: 0;
  padding: 10px;
  text-align: center;
}
