.program {
  padding-left: 21px;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
  @media(min-width: 768px) {
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 82px;
  }

  @media(min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.program__item {
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  height: 375px;
  padding: 3px 0 10px 16px;
  margin-bottom: 39px;
  position: relative;
  @media(min-width: 768px) {
    margin-right: 0;
    flex: 0 0 50%;
    margin-bottom: 0;
  }

  @media(min-width: 1200px) {
    flex: 0 0 263px;
    margin-right: 29px;
    margin-bottom: 39px;
  }
}

.program__num {
  line-height: 1;
  margin-top: 0;
  font-size: 67px;
  font-weight: 300;
  border-bottom: 1px solid #000;
  padding-bottom: 18px;
  margin-bottom: 13px;
  max-width: 125px;
  @media(min-width: 768px) {
    font-size: 90px;
    max-width: 178px;
    margin-bottom: 21px;
  }
}

.program__title {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  @media(min-width: 768px) {
    font-size: 24px;
  }
}

.program__text {
  margin-top: auto;
  line-height: 1.75;
  margin-bottom: 0;
  @media(min-width: 768px) {
    font-size: 14px;
  }

  a {
    color: #d70f00;
  }
}
