.section-technologies {
  padding-top: 100px;
}

.technologies {
  .projects__img {
    max-width: 100px;
    height: 100px;
  }

  .projects__item {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

.technologies__text {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
