.section-comegrants {

  padding-top: 97px;
  padding-bottom: 68px;
  @media(min-width: 1200px) {
    padding-top: 132px;
    padding-bottom: 39px;
  }
  .section__text {
    @media(min-width: 1200px) {
      padding-left: 70px;
      padding-top: 20px;
      margin-bottom: 11px;
    }
  }
}
