.section-features-projects {
  padding-top: 97px;
  padding-bottom: 100px;

  @media(min-width: 1200px) {
    padding-top: 134px;
  }

  .section__text {
    @media(min-width: 1200px) {
      padding-top: 64px;
    }
  }

  .btn--default {
    max-width: 268px;
    margin-left: 21px;
    margin-top: 21px;
    @media(min-width: 1200px) {
      max-width: 263px;
      margin-left: 3px;
      margin-top: 13px;
    }


  }
}
