.section-accelerator {
  padding-top: 100px;
  padding-bottom: 75px;

  @media(min-width: 1200px) {
    padding-top: 132px;
    padding-bottom: 103px;
  }
  .section__title {
    width: 105%;
  }

  .section__text {
    @media(min-width: 1200px) {
      padding-top: 19px;
    }
  }
}
