.section-steps {
  .section__title {
    margin-bottom: 53px;
  }
}

.grand-step {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1015px;
}

.grand-step__item {
  flex: 0 0 100%;

  padding: 20px 0px 20px 32px;
  margin-left: auto;
  margin-right: auto;
  @media(min-width: 991px) {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 31px 0px 31px 68px;
    margin-right: initial;
    margin-left: initial;
  }
  @media(min-width: 1200px) {
    flex: 0 0 487px;
    padding: 31px 0px 31px 68px;
  }

  position: relative;

  margin-bottom: 35px;

  &:nth-child(even) {
    margin-left: auto;
  }

  &:before {
    content: '';
    z-index: -1;
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid #d1d1d1;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    z-index: -1;
    display: block;
    width: 100%;
    height: 40px;
    border: 2px solid #d1d1d1;
    border-top: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.grand-step__title {
  color: #309399;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  margin-bottom: 45px;
}

.grand-step__list {
  font-size: 18px;
  margin: 0;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.grand-step__list-item {
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  &:before {
    content: '';
    width: 15px;
    height: 1px;
    background: #000;
    position: absolute;
    left: -33px;
    top:11px;
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
