.section {

}

.section__title {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  margin-top: 0;
  left: 21px;
  padding-top: 19px;
  line-height: 1.45;
  margin-bottom: 36px;

  @media(min-width: 1200px) {
    left: 11px;
    font-size: 30px;
    line-height: 1.3;
  }
  .angle {
    position: absolute;
    left: -21px;
    top: 0;
    @media(min-width: 1200px) {
      top: 6px;
    }
  }
}

.section__text {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  left: 23px;
  line-height: 1.5;
  margin-bottom: 23px;
  @media(min-width: 1200px) {
    margin: 0;
    font-size: 18px;
    line-height: 1.7;
    left: 7px;
    margin-bottom: 20px;
  }
}

.section__group {
  display: block;
  @media(min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.section__col {
  @media(min-width: 1200px) {
    flex: 0 1 100%
  }
}
