.section-startups {
  padding-bottom: 96px;

  @media(min-width: 1200px) {
    padding-top: 75px;
    padding-bottom: 158px;
  }

  .section__text {
    @media(min-width: 1200px) {
      max-width: 550px;
      margin-bottom: 35px;
    }
  }

  .container {
    position: relative;
    @media(min-width: 1200px) {
      padding-left: 620px;
    }
  }
}

.section-startups__img {
  margin-top: -13px;
  position: relative;
  left: 24px;
  margin-bottom: 3px;

  @media(min-width: 1200px) {
    position: absolute;
    left: 22px;
    top: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.section-startups__link {
  text-decoration: none;
  margin-left: 23px;
  color: #000;
  font-weight: bold;
  letter-spacing: 4.5px;
  margin-top: -3px;
  display: block;

  @media(min-width: 1200px) {
    font-size: 18px;
    letter-spacing: 3.2px;
    margin-left: 8px;
  }
}
