.section-critery {
  padding-top: 98px;
  padding-bottom: 86px;
  @media(min-width: 1200px) {
    padding-top: 132px;
    padding-bottom: 140px;
  }

  .step-list {
    margin-top: -10px;
    @media(min-width: 1200px) {
      margin-top: 0;
    }
  }

  .section__title {
    margin-bottom: 36px;
    @media(min-width: 1200px) {
      margin-bottom: 56px;
    }
  }

  .btn--default {
    margin-top: 13px;
    max-width: 230px;
    @media(min-width: 1200px) {
      max-width: 263px;
      margin-top: 9px;
    }
  }
}
