.section-banner {
  position: relative;
  padding-top: 156px;
  padding-bottom: 46px;

  @media(min-width: 768px) {

  }
  @media(min-width: 1200px) {
    padding-top: 232px;
    padding-bottom: 72px;
  }
  @media(min-width: 1921px) {
    min-height: 1122px;
    padding-top: 292px;
    padding-bottom: 72px;
  }

  &--index {

    background: url('../img/banner-index-bg-sm.jpg') no-repeat 50% 50% / cover;

    @media(min-width: 768px) {
      background: url('../img/banner-index-bg-lg.jpg') no-repeat 50% 50% / cover;
      min-height: auto;
    }

  }
  &--invest {

    background: url('../img/banner-invest-bg-sm.jpg') no-repeat 50% 50% / cover;
    @media(min-width: 768px) {
      background: url('../img/banner-invest-bg-lg.jpg') no-repeat 50% 50% / cover;
      min-height: auto;
    }
  }
  &--startups {

    background: url('../img/banner-startup-bg-sm.jpg') no-repeat 50% 50% / cover;
    @media(min-width: 768px) {
      background: url('../img/banner-startup-bg-md.jpg') no-repeat 50% 50% / cover;
      min-height: auto;
    }
    @media(min-width: 1200px) {
      background: url('../img/banner-startup-bg-lg.jpg') no-repeat 50% 50% / cover;
      min-height: auto;
    }

    .section-banner__icon-lg {
      @media(min-width: 1200px) {
        margin-top: -110px;
      }
    }


    .btn--default {
      max-width: 225px;
      left: 24px;
      position: relative;
      margin-bottom: 54px;

      @media(min-width: 1200px) {
        min-width: 263px;
        left: 0;
        margin-left: 52px;
      }
    }
  }

  &--grants {
    background: url('../img/banner-grants.jpg') no-repeat 50% 50% / cover;
    @media(min-width: 768px) {
      min-height: auto;
    }
    @media(min-width: 1200px) {
      padding-top: 292px;
      padding-bottom: 33px;
    }

    .section-banner__text {
      @media(min-width: 1200px) {
        margin-bottom: 150px;
      }
    }

    .section-banner__invest-icon {
      @media(min-width: 1200px) {
        margin-bottom: 137px;
      }
    }
    .banner-list__item {
      @media(min-width: 1200px) {
        flex: 0 1 100%;
      }

    }
  }
}

.section-banner__text {
  font-size: 18px;
  color: #fff;
  line-height: 1.7;
  font-weight: 100;
  letter-spacing: 0.3px;
  position: relative;
  margin-bottom: 44px;
  left: 23px;

  @media(min-width: 768px) {
    font-size: 28px;
  }

  @media(min-width: 1200px) {
    font-size: 36px;
    left: 51px;
    letter-spacing: 1px;
  }

  .angle {
    position: absolute;
    left: -25px;
    top: -28px;
    @media(min-width: 1200px) {
      left: -49px;
      top: -40px;
    }
  }
}

.section-banner__invest-icon {
  display: block;
  margin: 95px auto 121px;
  @media(min-width: 1200px) {
    display: block;
    margin: 45px auto 60px;
  }
  @media(min-width: 1921px) {

    margin: 90px auto 121px;
  }
}

.section-banner__icon-lg {
  display: none;
  @media(min-width: 1200px) {
    display: block;
    margin: 45px auto 60px;
  }
  @media(min-width: 1921px) {

    margin: 90px auto 121px;
  }
}

.banner-slider__slide {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .3s;

  &--active {
    opacity: 1;
  }
}

.banner-slider {
  position: relative;
  display: block;
  height: 240px;
}
