.section-support {
  padding-top: 106px;
  padding-bottom: 159px;
  .section__title {
    margin-bottom: 105px;
  }
}

.support-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.support-list__item {
  flex: 0 0 100%;
  max-width: 100%;
  @media(min-width: 991px) {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  @media(min-width: 1200px) {
    flex: 0 0 25%;
    max-width: 25%;
  }

  text-align: center;

  margin-bottom: 15px;
}

.support-list__img {
  max-width: 100%;
}
