.section-action {
  background: #37a8b0;
  color: #fff;
  padding-top: 71px;
  padding-bottom: 100px;

  @media(min-width: 1200px) {
    padding-top: 110px;
    padding-bottom: 142px;
  }

  .section__text {
    @media(min-width: 1200px) {
      padding-top: 21px;
    }

  }

  .btn--default {
    max-width: 230px;
    margin-left: 20px;
    margin-top: 24px;
    @media(min-width: 1200px) {
      max-width: 262px;
      margin-left: 10px;
      margin-top: 50px;
    }
  }
}
