.section-venture {
  padding-top: 100px;
  padding-bottom: 72px;

  @media(min-width: 1200px) {
    padding-top: 143px;
  }

  .section__text {
    @media(min-width: 1200px) {
      padding-top: 10px;
    }
  }
}

.section-venture__pony-img {
  position: relative;
  display: block;
  margin-bottom: 19px;
  @media(min-width: 1200px) {
    margin-bottom: 28px;
  }
}

