.section-case {
  color: #fff;
  background: #37a8b0;
  padding-top: 74px;
  padding-bottom: 103px;

  @media(min-width: 1200px) {
    padding-top: 109px;
    padding-bottom: 101px;
  }

  .section__text {
    @media(min-width: 1200px) {
      padding-top: 21px;
    }
  }
}
