.section-program {
  padding-bottom: 60px;
  @media(min-width: 1200px) {
    padding-bottom: 101px;
  }
  .toggle-block {
    position: absolute;
    top: 100%;
    left: -1px;;
    background: #fff;
    z-index: 1;
    border: 1px solid #ebebeb;
    border-top: none;
    padding: 6px 15px 83px;
    width: 269px;
    @media(min-width: 1200px) {
      width: 263px;
    }
  }

  .toggler-close {
    position: absolute;
    right: 16px;
    bottom: 12px;
  }

  .btn--default {
    display: none;
    @media(min-width: 1200px) {
      display: block;
      max-width: 265px;
      margin-left: 300px;
      margin-top: -88px;
      position: relative;
      z-index: 1;
    }

  }
}
