.section-investinfo {
  padding-top: 97px;
  padding-bottom: 68px;
  @media(min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 121px;
  }

  .section__text {
    @media(min-width: 1200px) {
      padding-top: 20px;
      margin-bottom: 11px;
    }
  }
}
