.section-how-invest {
  padding-bottom: 80px;

  @media(min-width: 1200px) {
    padding-top: 35px;
    padding-bottom: 140px;
  }

  .section__title {
    @media(min-width: 1200px) {
      margin-bottom: 54px;
    }
  }
  .step-list {
    margin-top: -11px;
    @media(min-width: 1200px) {
      margin-top: 0;
    }
  }
}
