.step-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  position: relative;
  left: 21px;
  @media(min-width: 768px) {
    left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  @media(min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.step-list__item {
  margin-bottom: 13px;
  @media(min-width: 768px) {
    flex: 0 0 292px;
  }

}

.step-list__num {
  border-bottom: 1px solid #000;
  font-size: 68px;
  width: 100%;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  padding-bottom: 26px;
  margin-bottom: 15px;
  max-width: 270px;

  @media(min-width: 768px) {
    font-size: 90px;
    max-width: 264px;
    padding-bottom: 18px;
    margin-bottom: 18px;
  }
}

.step-list__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.3px;
  margin: 0;
  @media(min-width: 768px) {
    font-size: 14px;
    line-height: 1.75;
  }
}

.step-list__link {
  color: #d70f00;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  @media(min-width: 768px) {
    font-size: 11px;
  }
}
