.switcher {
  padding-left: 0;
  display: flex;
  flex-direction: row;

  list-style: none;

  background: #fff;
  box-shadow: inset 0 0 0 1.5px rgba(0,0,0,0.1);
  order: 1;
  margin: 0 auto;
  align-self: center;
  padding: 10px;

  @media(min-width: 1200px) {
    font-size: 12px;
    padding: 5px 10px;
    order: 3;
    margin-left: auto;
    margin-right: initial;
    margin-bottom: 0;
    margin-top: 0;
    align-self: initial;
  }
  @media(min-width: 1200px) {
    margin-left: 36px;
    font-size: 14px;
    padding: 10px;
  }
}

.switcher__item {
  font-size: 14px;
  font-weight: bold;
  &:first-child {
    margin-right: 8px;
  }
}

.switcher__link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.5;

  &--current {
    color:#000;
    opacity: 1;
  }
}
