.wyg {
  padding-left: 21px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 9px;
  padding-bottom: 1px;

  @media(min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
  }
  @media(min-width: 1200px) {

    margin-top: -164px;
    padding-top: 0;
  }
}

.wyg__item {
  margin-bottom: 34px;
  position: relative;
  @media(min-width: 768px) {
    flex:  0 0 50%;
    display: flex;
    flex-direction: column;
    padding-top: 105px;
    margin-bottom: 24px;
  }
  @media(min-width: 1200px) {
    flex:  0 1 390px;
  }

  &:first-child {
    @media(min-width: 1200px) {
      margin-left: 390px;
    }
  }
}

.wyg__title {
  font-weight: 300;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  line-height: 1;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  margin-bottom: 18px;
  padding-left: 82px;
  margin-top: -20px;

  @media(min-width: 768px) {
    border-bottom: none;
    border-top: 1px solid #000;
    font-size: 24px;
    margin-top: auto;
    padding-top: 23px;
    padding-left: 0;
    order: 3;
    max-width: 294px;
  }
  span {
    line-height: 1.5;
    position: relative;
  }
}

.wyg__img {
  @media(min-width: 768px) {
    order: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.wyg__text {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0;
  width: 110%;
  @media(min-width: 768px) {
    order: 2;
    line-height: 1.6;
    letter-spacing: 0.3px;
    margin-bottom: 21px;
    font-size: 16px;
    width: 100%;
  }
  @media(min-width: 1200px) {
    font-size: 18px;
  }
}
